# all swap files, tempoary files will be ignored
*.swp
*~
*.swo
# All files in 'reference' directory will be ignored
references/*
# All files in 'analysis' directory will be ignored
analysis/*
# All files in 'uml' directory will be ignored
uml/*